@charset "UTF-8";
/* CSS Document */

body
{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: antiquewhite
}

h1
{
	letter-spacing: -1px;
}

/*********Nav bar **********/
.navbar
{
	background-color: aquamarine;
	colour: #330049;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.logo
{
	font-size: 1.4em;
	font-weight: bold;
	color: darkred;
}

/*********Navigation **********/

.nav-links
{
	display: flex;
	gap: 2em;
}

.nav-links a
{
	color: darkblue;
	text-decoration: none;
}

/*********hide checkbox**********/
.nav-toggle
{
	display: none;
}

/*********hamburger**********/
.hamburger
{
	display: none;
	width: 30px;
	height: 22px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.hamburger span
{
	display:block;
	height: 3px;
	background: #3312BE;
	border-radius: 2px;
	transition: transform 0.3s ease, opacity 0.3s ease;

}

/*********mobile stylesr**********/
@media (max-width: 768px)
{
	.hamburger
	{
		display: flex;

	}

	.nav-links
	{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: yellowgreen;
		flex-direction: column;
		padding: 1em;
		transform: translateY(-10px);
		pointer-events: none;
		transition: opacity 0.3s ease, transform 0.3s ease;


	}

	.nav-links a
	{
		padding: 0.6em 0;

	}
}
